:root {
  --primary: #ffffff;
  --secondary: #000000;
  --animation: 200ms;
  --icon-size-1: 28px;
  --icon-size-2: 34px;
  --wrapper-size: 48px;
}

[dark] {
  --primary: #000000;
  --secondary: #ffffff;
}

html,
body {
  background-color: var(--primary);
  height: 100%;
  margin: 0;
  transition: background-color var(--animation);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.icons {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: space-between;
  max-width: 150px;
}

.candle,
.icons a {
  align-items: center;
  background-color: var(--secondary);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: var(--wrapper-size);
  justify-content: center;
  padding: 0;
  text-decoration: none;
  transition: background-color var(--animation);
  width: var(--wrapper-size);
}

.candle svg,
.icons a svg {
  fill: var(--primary);
  height: var(--icon-size-1);
  transition: width var(--animation), height var(--animation),
    fill var(--animation);
  width: var(--icon-size-1);
}

.candle:hover svg,
.candle:focus svg,
.icons a:hover svg,
.icons a:focus svg {
  height: var(--icon-size-2);
  width: var(--icon-size-2);
}

.candle {
  border-radius: 50%;
  border: none;
  bottom: 25px;
  position: fixed;
  right: 25px;
}
